@using FormVer2.Models.BL.FormBL
@model List<ViewFormDTO>

@{
    ViewData["Title"] = "Form";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Forms</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item active"><a asp-action="IndexForm">Form</a></li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"><a asp-action="CreateForm" type="button" class="btn btn-primary float-right"><i class="fas fa-plus"></i>  Add form</a></h3>
        </div>
        <div class="card-body p-0">
            <table class="table table-striped projects">
                <thead>
                    <tr>
                        <th style="width: 15%;">
                            Title
                        </th>
                        <th style="width: 34%;">
                            Description
                        </th>
                        <th style="width: 4%;">
                            Width
                        </th>
                        <th style="width: 4%;">
                            Height
                        </th>
                        <th style="width: 53%;">
                        </th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Form.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Form.ShortDescription)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Form.Width)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Form.Height)
                            </td>
                            <td class="project-actions text-right">
                                <a asp-controller="FormComponent" asp-action="IndexFormComponent" asp-route-formId="@item.Form.Id" class="btn btn-primary btn-sm">
                                    <i class="fas fa-folder">
                                    </i>
                                    Components (@item.NumOfCo)
                                </a>
                                <a class="btn btn-info btn-sm" asp-route-id="@item.Form.Id" asp-action="UpdateForm">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Edit
                                </a>
                                <a class="btn btn-danger btn-sm" asp-route-id="@item.Form.Id" asp-action="DeleteForm">
                                    <i class="fas fa-trash">
                                    </i>
                                    Delete
                                </a>
                                <a class="btn btn-success btn-sm" asp-controller="Preview" asp-action="IndexPreview" asp-route-formId="@item.Form.Id" >
                                    <i class="fas fa-eye">
                                    </i>
                                    Preview
                                </a>
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->