@using FormVer2.Models.BL.FormBL
@model List<FormDTO>

@{
    ViewData["Title"] = "Form";
}

<div class="card">
    <div class="card-header border-transparent">
        <h3 class="card-title">Form Overview</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table m-0">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Width</th>
                        <th>Height</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td width="12%">
                                <a asp-route-id="@item.Id" asp-action="UpdateForm">
                                    @Html.DisplayFor(modelItem => item.Title)
                                </a>
                            </td>
                            <td width="30%">
                                @Html.DisplayFor(modelItem => item.ShortDescription)
                            </td>
                            <td width="10%">
                                @Html.DisplayFor(modelItem => item.Width)
                            </td>
                            <td width="10%">
                                @Html.DisplayFor(modelItem => item.Height)
                            </td>
                            <td width="38%">
                                <a asp-route-id="@item.Id" asp-action="UpdateForm" class="btn btn-primary">Edit</a>
                                <a asp-route-id="@item.Id" asp-action="DeleteForm" class="btn btn-primary">Delete</a>
                                <a asp-controller="FormComponent" asp-action="IndexFormComponent" asp-route-formId="@item.Id" class="btn btn-primary">Component</a>
                                <a asp-controller="Preview" asp-action="IndexPreview" asp-route-formId="@item.Id" class="btn btn-primary">Preview</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
</div>