@using FormVer2.Models.BL.ItemBL

@model ViewListItemDTO
@{
    ViewData["Title"] = "Item";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Items</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Form" asp-action="IndexForm">Form</a></li>
                    <li class="breadcrumb-item"><a asp-controller="FormComponent" asp-action="IndexFormComponent" asp-route-formId="@Model.FormId">Component</a></li>
                    <li class="breadcrumb-item active">Item</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title"><a asp-action="CreateItem" asp-route-formcomponentId="@Model.FormComponentId" type="button" class="btn btn-primary float-right"><i class="fas fa-plus"></i>  Add Item</a></h3>
        </div>
        <div class="card-body p-0">
            <table class="table table-striped projects">
                <thead>
                    <tr>
                        <th style="width: 30%;">
                            Alias
                        </th>
                        <th style="width: 29%;">
                            IsPreSelected
                        </th>
                        <th style="width: 8%;">
                            Order
                        </th>
                        <th style="width: 33%;">
                        </th>
                    </tr>
                </thead>
                @foreach (var item in Model.ListItem)
                {
                    <tbody>
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Alias)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsPreSelected)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DisplayOrder)
                            </td>
                            <td class="project-actions text-right">
                                @Html.HiddenFor(modelItem => item.Id)
                                @Html.HiddenFor(modelItem => item.FormId)
                                <a class="btn btn-info btn-sm" asp-route-id="@item.Id" asp-action="UpdateItem">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Edit
                                </a>
                                <a class="btn btn-danger btn-sm" asp-route-id="@item.Id" asp-action="DeleteItem">
                                    <i class="fas fa-trash">
                                    </i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->
@*<div class="tab-content" id="nav-tabContent">
        <div style="padding:1rem;">
            <button type="button" class="btn btn-primary">
                <a asp-action="CreateItem" asp-route-formId="@Model.FormId" asp-route-componentId="@Model.ComponentId" style="color:white;">Add Item</a>
            </button>
        </div>
        <div style="padding:1rem;">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            Alias
                        </th>
                        <th>
                            IsPreSelected
                        </th>
                        <th>
                            DisplayOrder
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ListItem)
                    {
                    <tr>
                        <td>
                            <a class="btn">
                                @Html.DisplayFor(modelItem => item.FormId)
                            </a>
                        </td>
                        <td>
                            <a class="btn">
                                @Html.DisplayFor(modelItem => item.ComponentId)
                            </a>
                        </td>
                        <td>
                            <a class="btn">
                                @Html.DisplayFor(modelItem => item.Alias)
                            </a>
                        </td>
                        <td>
                            <a class="btn">
                                @Html.DisplayFor(modelItem => item.IsPreSelected)
                            </a>
                        </td>
                        <td>
                            <a class="btn">
                                @Html.DisplayFor(modelItem => item.DisplayOrder)
                            </a>
                        </td>
                        <td>
                            <a asp-route-id="@item.Id" asp-action="UpdateItem" class="btn btn-primary">Edit</a>
                            <a asp-route-id="@item.Id" asp-action="DeleteItem" class="btn btn-primary">Delete</a>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>*@